body {
    background-color: #252525;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 480px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    background-color: transparent;
}

nav a:hover {
    background-color: #777;
    transform: scale(1.1);
}

nav a:active {
    transform: scale(0.9);
}

.projects-heading {
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.card-template {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.card-template:hover {
    transform: scale(1.05);
}

.card-thumbnail {
    width: 100%;
    height: auto;
}

.card-title {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 10px 0;
    color: white;
}

@media only screen and (max-width: 800px) {
    .card-container {
        max-width: 800px;
    }

    .card-template {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .card-template {
        width: calc(100% - 20px);
    }
}
